.stock-container {
    display: flex;
    justify-content: center;
    color: #000;
  }
  
  .stock-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 900px;
  }
  
  .stock {
    display: flex;
    align-items: center;
    min-width: 50px;
  }
  
  .stock h1 {
    font-size: 16px;
    width: 150px;
  }
  
  .stock img {
    height: 30px;
    width: 30px;
    margin-right: 10px;
  }
  
  .stock-symbol {
    text-transform: uppercase;
  }
  
  .stock-data {
    display: flex;
    text-align: right;
    justify-content: space-between;
    width: 100%;
  }
  
  .stock-price {
    width: 110px;
  }
  
  .stock-volume {
    width: 20%;
  }
  
  .stock-marketcap {
    width: 230px;
  }
  
  .stock-percent {
    width: 100px;
    padding-right: 10px;
  }
  
  .red {
    color: #f00606;
  }
  
  .green {
    color: #11d811;
  }
